@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    font-family: 'Inter', sans-serif;
    font: inter;
}

body {
    background:  #F8BAC5
}

p {
    color: #DD4B75;
    font-size: 64px;
}

.main {
    margin: 0 auto 0 auto;
    max-width: fit-content;
    max-height: fit-content;
}

.upper {
    margin-left: 33px;
}

.lower {
    margin: 33px 0 0 0;
}

a {
    display: block;
    width: 393px ;
    text-decoration: none;
    font-size: 40px;
    background-color: #D9D9D9;
    color: black;
    text-align: center;
    margin-left: 207px;
    margin-top: 32px;
    padding: 31px 0;
    border-radius: 30px;
}

.player {
    display: block;
    margin: 0 auto 0 auto;
    width: 60%;
    height: 300px;
}