@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    font-family: 'Inter', sans-serif;
    font: inter;
}

body {
    background: #F8BAC5
}

p {
    text-align: center;
    color: #DD4B75;
    font-size: 64px;
    margin: 357px 0 0 0;
}